@charset "utf-8";
/* CSS Document America Web page */
/* Developed by: Khattar Daou */
/* Script Date: April 26, 2022 */

@media print {
    body, #sidebar, #main, #footer, #banner, 
    p, h1, h2, h3 {
        font-size: 12px;
        font-family: 'Times New Roman', 'Times', serif;
        color: #000;
        background-color: #fff;
        text-align: justify;
    }

    #salebox {
        display: none;
    }

    img {
        display: none;
    }

    body {
        margin: 3em;
    }

    #sidebar {
        float: none;
        width: auto;
    }
}

/* To set a 1in margin on the page in landscape orientation 
    @page {
        margin: 1in;
        size: landscape;
        /* AUTO, PORTRAIT, LANDSCAPE */

/* would start a new page before any H1 heading. 
    h1 {
        page-break-before: always;
    }
*/
/* would keep a table from starting on one page and finishing on another, but 
    only if the table will actually fit on one sheet of paper.
    table {
        page-break-inside: avoid;
    }
 */